<h1>Home#index</h1>



<%= link_to "news", news_index_path %>
<%= link_to "gens", gens_path %>
<%= link_to "quartiers", quartiers_path %>
<%= link_to "villes", villes_path %>
<p>Find me in app/views/home/index.html.erb</p>
